.navbar-brand img {
    margin-top: -7px;
}

.form-group.required .control-label:after {
  content:"*";
  color:red;
}

.center{
    float: none;
    margin: 0 auto;
}

.navbar{
    margin-bottom: 0px;
}

.body{
    padding-bottom: 44px;
}

footer {
	width: 100%;
	position: relative;
	height: 44px;
	bottom: 0px;
}

.footer-block{
    margin-top: -15px;
}