{% extends "base.html" %}
{% load static %}

{% block title %}Well hello there!{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/countdown.css' %}">
{% endblock %}

{% block content %}
<div class="jumbotron">
<h1>Hello Ted</h1>
<p>If you're not Ted then I'm not sure how you got here or what you're looking for.  If you want, you can practice practice foreign numbers using the Numbers Quiz, or take a look at the countdown clock to my birthday.
</p>
</div>

<ul id="countdown">
	<li class="num_block">
		<div class="number days">00</div>
		<span class="strikethrough"></span>
		<p class="timeLabel">DAYS</p>
	</li>
	<li class="num_block">
		<div class="number hours">00</div>
		<span class="strikethrough"></span>
		<p class="timeLabel">HOURS</p>
	</li>
	<li class="num_block">
		<div class="number minutes">00</div>
		<span class="strikethrough"></span>
		<p class="timeLabel">MINUTES</p>
	</li>
	<li class="num_block">
		<div class="number seconds">00</div>
		<span class="strikethrough"></span>
		<p class="timeLabel">SECONDS</p>
	</li>
</ul>


{% endblock %}

{% block js-foot %}
<script src="{% static 'js/countdown.js' %}"></script>
{% endblock %}
