#captions-tbody {
    height: 500px;
    overflow: hidden;
}

.table-input{
    width: 100%;
    border: 1px solid;
}

.caption-input{
    width: 100%;
    border: none;
}

.grey{
    background-color: grey;
}

.video{
    width: 100%; 
    max-height: 600px;
}

#source-start, #source-end{
    width: 80px;
}

#start-stop-marks{
    padding-top: 10px;
}

#mark-delay{
    width: 70px;
}

.col-mark input{
    width: 100%;
}

.table-container{
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}