{% extends "base.html" %}
{% load static %}

{% block title %}Create New Captions{% endblock %}

{% block css %}
<link type="text/css" href="{% static 'caption_maker/css/create_new.css' %}" rel="stylesheet">
<script>
  var action =  "{{ action }}";
  var videoId = "{{ media.reference_id }}";
  var mediaPk = "{{ media.pk }}";
  var timeArr = {% if timeList %}{{timeList | safe}}{% else %} [] {% endif %};
  var startTime = "{{ media.start_time }}";
  startTime = (startTime == "None") ? null : Math.floor(Number(startTime));
  var endTime = "{{ media.end_time }}"
  endTime = (endTime == "None") ? null : Math.ceil(Number(endTime));
</script>
{% endblock %}

{% block content %}
<br/>
<div class="row">
  <div class="col-md-9 center">
    {% if not user.is_authenticated %}
    <div class="text-center">
      <h3>You sly dog, you must login to create or modify captioned videos!</h3>
      <br/>
      <img src="http://31.media.tumblr.com/8e1428d7d917d2cdbc015181056947d7/tumblr_inline_n95fdhCfcF1sy4ujy.jpg" 
        alt="sly_dog">
    </div>
    {% else %}
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">Step 1: Find YouTube Source Video, Review Details</h2>
      </div>

      <div class="panel-body">
        <p>Enter YouTube URL and click "Load Source" to get video.  Enter in as many details as you want, and proceed to Step 2.</p>
        <form class="form-horizontal">

          <div class="form-group required">
            <label for="source-input" class="col-sm-3 control-label">Media Source URL </label>
            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-btn">
                  <button type="button" id="source-load" class="btn btn-primary">Load Source</button>
                </span>
                <input type="text" class="form-control" id="source-input" placeholder="Enter / Paste Source URL here"
                  value="{% if media %}https://www.youtube.com/watch?v={{ media.reference_id }}{% endif %}"
                  {% if media %}disabled{% endif %}/>
              </div>
            </div>
          </div>

          <div class="form-group required">
            <label for="source-title" class="col-sm-3 control-label">Media Title </label>
            <div class="col-sm-8">
              <input type="text" id="source-title" class="form-control" placeholder="eg: Smooth Criminal" 
                value="{% if media %}{{ media.title }}{% endif %}"/>
            </div>
          </div>

          <div class="form-group">
            <label for="source-author" class="col-sm-3 control-label">Author</label>
            <div class="col-sm-8">
              <input type="text" id="source-author" class="form-control" placeholder="eg: Michael Jackson"
                value="{% if media %}{{ media.author }}{% endif %}"/>
            </div>
          </div>

          <div class="form-group">
            <label for="source-author" class="col-sm-3 control-label">Description</label>
            <div class="col-sm-8">
              <textarea id="source-description" class="form-control" placeholder="Enter Description Here..." 
                rows="5">{% if media %}{{ media.description }}{% endif %}</textarea>
            </div>
          </div>
        </form>
      </div>
    </div>

    <br/>
    
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">Step 2: Enter Captions</h2>
      </div>

      <div class="panel-body">
        <p>
          Create a label for your captions and then enter or paste captions in text area 
          (broken up by line).  All primary and secondary captions must have the same number 
          of lines.  Blank lines will be treated as spacers and will not have timing marks 
          associated with them.
        </p>
        <div class="row">
          <form id="captions-form" class="form-horizontal">

            <div class="captions-block">
              <div class="form-group required">
                <label for="captions-label" class="col-sm-3 control-label">Primary Caption Label </label>
                <div class="col-sm-3">
                  <input type="text" class="form-control captions-label" placeholder="eg: English, Chinese, etc."
                    value="{% if media %}{{ captions.0.0.label }}{% endif %}" />
                </div>
              </div>
              <div class="form-group required">
                <label for="captions-textarea" class="col-sm-3 control-label">Primary Captions </label>
                <div class="col-sm-8">
                  <textarea class="form-control captions-textarea" placeholder="Enter / Paste captions here..." 
                    rows="10">{% if media %}{% for cap in captions.0 %}{{ cap.text }}{% if not forloop.last %}&#13;&#10;{% endif %}{% endfor %}{% endif %}</textarea>
                </div>
              </div>
              <hr/>
            </div>
            
            {% for capLine in captions %}
            {% if not forloop.first %}
            <div class="captions-block">
              <div class="form-group required">
                <label for="captions-label" class="col-sm-3 control-label">Secondary Caption Label </label>
                <div class="col-sm-3">
                  <input type="text" class="form-control captions-label" placeholder="eg: English, Chinese, etc."
                    value="{{ capLine.0.label }}" />
                </div>
              </div>
              <div class="form-group required">
                <label for="captions-textarea" class="col-sm-3 control-label">Secondary Captions </label>
                <div class="col-sm-8">
                  <textarea class="form-control captions-textarea" placeholder="Enter / Paste captions here..." 
                    rows="10">{% for cap in capLine %}{{ cap.text }}{% if not forloop.last %}&#13;&#10;{% endif %}{% endfor %}</textarea>
                </div>
              </div>
              <div class="form-group">
                <label for="captions-remove" class="col-sm-3 control-label"></label>
                <div class="col-sm-8">
                  <button type="button" id="captions-remove" class="btn btn-danger">
                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Remove Secondary Captions
                  </button>
                </div>
              </div>
              <hr/>
            </div>
            {% endif %}
            {% endfor %}
            
            <template id="captions-template">
              <div class="captions-block">
                <div class="form-group required">
                  <label for="captions-label" class="col-sm-3 control-label">Secondary Caption Label </label>
                  <div class="col-sm-3">
                    <input type="text" class="form-control captions-label" placeholder="eg: English, Chinese, etc."/>
                  </div>
                </div>
                <div class="form-group required">
                  <label for="captions-textarea" class="col-sm-3 control-label">Secondary Captions </label>
                  <div class="col-sm-8">
                    <textarea class="form-control captions-textarea" placeholder="Enter / Paste captions here..." rows="10"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label for="captions-remove" class="col-sm-3 control-label"></label>
                  <div class="col-sm-8">
                    <button type="button" id="captions-remove" class="btn btn-danger">
                      <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Remove Secondary Captions
                    </button>
                  </div>
                </div>
                <hr/>
              </div>
            </template>
            
            <div class="form-group">
              <label for="captions-add" class="col-sm-3 control-label"></label>
              <div class="col-sm-8">
                <button type="button" id="captions-add" class="btn btn-success">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Secondary Captions (Optional)
                </button>
              </div>
            </div>
            
            <div class="form-group">
              <label for="captions-load" class="col-sm-3 control-label"></label>
              <div class="col-sm-8">
                <button type="button" id="captions-load" class="btn btn-primary">Load Captions</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div id="caption-lines-alert" class="alert alert-danger hide">
      <strong>Error!</strong> Your captions don't all have the same number of lines!
    </div>
    <br/>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">Step 3: Set Caption Timestamps</h2>
      </div>

      <div class="panel-body">
        <p>
          Play the YouTube video and set when you want your captions to 
          be highlighted.  Captions will be highlighted at the mark, and 
          the highlight will move down to the next one at the next mark.  Mark 
          the start and end times of the video if you wish to skip parts of the 
          beginning and/or end the video early.
        </p>
        <div class="row">
          <div id="player" class="video col-sm-12 text-center">
            <br/><br/><br/><br/>No Video Loaded<br/><br/><br/><br/>
          </div>
          <p class="text-center"><b>Current Player Mark: </b><span id='player-counter'>0.0</span></p>
          <form class="form-inline text-center">
            <div id="start-stop-marks" class="form-group">
              <div class="input-group">
                <span class="input-group-btn">
                  <button type="button" id= "source-start-button" class="btn btn-primary">Mark Start</button>
                </span>
                <input type="number" step="0.1" class="form-control" id="source-start" placeholder="0.0"
                  value="{% if media %}{{ media.start_time }}{% endif %}"/>
              </div>
              <div class="input-group">
                <span class="input-group-btn">
                  <button type="button" id= "source-end-button" class="btn btn-primary">Mark End</button>
                </span>
                <input type="number" step="0.1" class="form-control" id="source-end" placeholder="0.0"
                  value="{% if media %}{{ media.end_time }}{% endif %}"/>
              </div>
            </div>
          </form>
          <br/>
          <form class="form-inline text-center">
            <div class="player-options text-center">
              <!--<strong>Mark Delay Correction: </strong>-->
              <!--<input type="number" step="0.1" class="form-control" id="mark-delay" placeholder="0.0" value="0.2"/>-->
              <button type="button" id="player-rewind" class="btn btn-primary">
                  <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>&nbsp;&nbsp;3 sec
              </button>
            </div>
          </form>
          <br/>
          <div class="col-sm-10 center">
            <div class="row">
              <div class="lyrics-container table-input hide">
                <table id="captions-table" class="table table-bordered">
                  <thead class="btn-primary">
                    <tr>
                      <td class="col-sm-9">Caption</td>
                      <td class="col-sm-2">Start</td>
                      <td class="col-sm-1"></td>
                    </tr>
                  </thead>
                  <tbody id='captions-tbody'></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <br/>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">Step 4: Review and Submit</h2>
      </div>
      <div class="panel-body">
        <p>Review everything and when you're satisfied, click "Submit Captions"</p>
        <button type="button" id="captions-submit" class="btn btn-primary">Submit Captions</button>
      </div>
    </div>
    
    {% endif %}
  </div>
</div> <!--end row-->
{% endblock %}

{% block js-foot %}
<script src="{% static 'caption_maker/js/player.js' %}"></script>
<script src="{% static 'caption_maker/js/create_new.js' %}"></script>
{% endblock %}