{% extends "base.html" %}
{% load static %}

{% block title %}Captioned Videos{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'caption_maker/css/media_list.css' %}">
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    <p>
    Welcome, {{ user.first_name }}
    </p>
{% else %}
    <p>Welcome, Guest</p>
{% endif %}

<h2>Summary</h2>
<p>
  I wanted to practice my Chinese by listening to music and then follow along on a 
  script in order to memorize phrases, sentence structures, characters, etc.  Unfortunately, I hadn't 
  found a good way to do this aside from blankly staring at a word document or a piece of paper while 
  playing the song off of YouTube.  After failing to find chinese songs on YouTube with closed-captioning, 
  I wondered if I could do it myself.  So I made this and now I can, and so can you!  I still have some 
  work to do in order to make the user interface more friendly, but so far this is looking pretty good 
  if I do say so myself.
  <br/><br/>
</p>
<br/>
<div class="media-list-header">
  <h2>List of All Captioned Videos</h2>
  <a href="{% url 'caption_maker:create_new' %}">
    <button type="button" id="captions-add" class="btn btn-success">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create Your Own! (Login Required)
    </button>
  </a>
</div>
<table class="table">
  <thead>
    <tr>
      <td>Title</td>
      <td>Author</td>
      <td>Description</td>
      <td></td><!--Modify Button-->
    </tr>
  </thead>
  <tbody>
    {% for media in media_list %}
    <tr>
      <td>
        <a href="{% url 'caption_maker:media_detail' media_pk=media.pk %}">
          {{ media.title }}
        </a>
      </td>
      <td>
        {{ media.author }}
      </td>
      <td>
        {{ media.description }}
      </td>
      <td>
      	<a href="{% url 'caption_maker:modify_media' media_pk=media.pk %}">
    			<button type="button" class="btn btn-primary caption-modify">
      			<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Modify
    			</button>
  			</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}