{% extends "base.html" %}
{% load static %}

{% block title %}Captioned Videos{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'caption_maker/css/media_detail.css' %}">
<script>
  var videoId = "{{ media.reference_id }}";
  var timeArr = {{ timeList|safe }};
  var startTime = "{{ media.start_time }}";
  startTime = (startTime == "None") ? null : Math.floor(Number(startTime));
  var endTime = "{{ media.end_time }}"
  endTime = (endTime == "None") ? null : Math.ceil(Number(endTime));
  var labelList = {{ labelList|safe }};
</script>
{% endblock %}

{% block content %}
<div class="text-center row">
  <div class=".col-md-12">
    <h3>{{ media.title }}</h3>
    <h4>{{ media.author }}</h4>
    <div id="player" class="video"></div>

    <div class="lyrics-container center">
      <table class="lyrics center">
        <tbody>

          {% for capLine in captionLines %}
          {% for cap in capLine.caption_set.all %}
          <tr class="{{ cap.label|lower }} caption-cell line-{{ capLine.order }}">
            <td>
              {{ cap.text }}
            </td>
          </tr>
          {% endfor %}

          {% if capLine.break_after %}
          <tr><td> &nbsp; </td></tr>
          {% endif %}

          {% endfor %}

        </tbody>
      </table>
    </div>
    
    <div id="caption-toggle">
      <b>Show / Hide Captions: </b>
	    <div id="toggle-buttons" class="btn-group"></div>
    </div>
    
  </div>
</div>
{% endblock %}

{% block js-foot %}
<script src="{% static 'caption_maker/js/player.js' %}"></script>
<script src="{% static 'caption_maker/js/media_detail.js' %}"></script>
{% endblock %}